


.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 1.25em 5em;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

// .btn:after {
// 	content: '';
// 	position: absolute;
// 	z-index: -1;
// 	-webkit-transition: all 0.3s;
// 	-moz-transition: all 0.3s;
// 	transition: all 0.3s;
// }
// $red-dark: rgb(182, 11, 11);

// /* Pseudo elements for icons */
// .btn:before,
// .icon-heart:after,
// .icon-star:after,
// .icon-plus:after,
// .icon-file:before {
// 	font-family: 'icomoon';
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;
// 	position: relative;
// 	-webkit-font-smoothing: antialiased;
// }

// .btn-8b:after {
// 	width: 100%;
// 	height: 40%;
// 	left: 0;
// 	top: 100%;
// 	background: #49a7df;
// 	-webkit-transform-origin: 0% 0%;
// 	-webkit-transform: rotateX(-90deg);
// 	-moz-transform-origin: 0% 0%;
// 	-moz-transform: rotateX(-90deg);
// 	-ms-transform-origin: 0% 0%;
// 	-ms-transform: rotateX(-90deg);
// 	transform-origin: 0% 0%;
// 	transform: rotateX(-90deg);
// }

// .btn-8b:hover {
// 	-webkit-transform: rotateX(15deg);
// 	-moz-transform: rotateX(15deg);
// 	-ms-transform: rotateX(15deg);
// 	transform: rotateX(15deg);
// }